.routinetitle {
    color: yellow;
    text-align: center;
    width: 500px;
}

.column {
    float: center;
    width: 33.3%;
  
    /* background-image: url("../photos/blurorangebg.jpeg"); */
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4mm ridge rgba(0, 0, 0, 0.6);
    display: 'flex';
    
   
  }