 /* .boo {
     background-image: url("../photos/boxinggymbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 

    
     display: inline-block;
    width: 22%;
} 

.boo2 {
    background-color: black;
    display: float;
    margin: 10px;
}  */

img {
    border-radius: 10%;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 200);;
    align-self: center;
  }
  
  img:hover {
    -webkit-filter-: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .setreps {
      color: white;
      align-content: center;
      background-color: black;
      text-align: center;
      width: 400;
  }

 .row {
   height: 450px;
   width: 450px;
   font-family: 'Bebas Neue', cursive;
   font-size: 13pt;
   text-align: center;
   background: rgb(207, 194, 14);
   /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 44%, rgba(0,0,0,1) 96%); */
  
    /* display: flex; */
    /* border-radius: 3%; */
 }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }